/* font import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Quicksand:wght@300;500&display=swap");

:root {
	--primary-color: #80dcfe;
	--header-color: #80dcfeee;
	--bg-color: #f2f3f4;
	--secondary-color: #ffd301;
}

html {
	font-size: 62.5%;
	font-family: "Quicksand", sans-serif;
	overflow-x: hidden;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	color: #000;
}

*::selection {
	background-color: #ffd301;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	text-align: center;
}

nav {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 45px;
	background-color: var(--header-color);
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
	padding-bottom: .5rem;
}

header > * {
	flex-basis: 100%;
	object-fit: contain;
}

.logo {
	width: 60vw;
}
.logo > img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	min-width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	width: 45vw;
	min-width: min-content;
	margin-right: 1rem;
}

.nav-link {
	font-size: 1.6rem;
	padding: 1.5vw 5vw;
	border: transparent 2px;
	border-radius: 10%;
}

.nav-link:hover {
	background-color: #00b9fcee;
	transition: 0.5s ease-out;
}

header input {
	display: none;
}

header .material-icons {
	font-size: 2.5rem !important;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
}

#home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	margin: 0 1rem;
}

#home > * {
	flex-basis: 100%;
}


#home-text {
	font-size: 3rem;
	text-align: center;
	width: 55vw;
}

span {
	color: var(--secondary-color);
}

#email {
	width: 15vw;
	min-width: min-content;
	font-size: 2rem;
}

.btn {
	padding: 1rem 2rem;
	background-color: var(--secondary-color);
	border: 0.3rem solid #ffec8bee;
	border-radius: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-family: "Quicksand", sans-serif;
}

.btn:hover {
	background-color: #ffaf01;
	border: 0.3rem solid #ffaf01ee;
	transition: 0.5s linear;
	transform: scale(1.1);
}

#shoes-img {
	object-fit: contain;
	width: 45vw;
	height: 45vw;
	margin-top: 2rem;
}

#content {
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

#feature-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

#feature-header {
	font-size: 3rem;
}

#features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#features > * {
	flex-basis: 100%;
	object-fit: contain;
	font-size: 1.6rem;
}

.feature-box {
	width: 32%;
	text-align: center;
	padding: 1rem;
	margin: 1%;
	border: var(--primary-color) solid 0.5rem;
}

.material-icons {
	font-size: 3rem !important;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
	#home {
		flex-wrap: wrap;
	}

	#home-text {
		margin-top: 10vw;
	}

	#features {
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}


	
	.logo > img {
		max-width: 200px;
	}
	
	header .material-icons {
		visibility: visible;
		opacity: 1;
		text-align: right;
		margin-right: 1.6rem;
	}

	header #nav-bar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: var(--header-color);
		box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
		transform-origin: top;
		transform: scaleY(0);
		opacity: 0;
		display: flex;
		justify-content: center;
	}

	#nav-bar > ul {
		flex-direction: column;
		align-items: center;
		padding: 0
	}

	header #nav-bar .nav-link {
		display: block;
		margin: 2rem 0;
		font-size: 2rem;
	}

	header input:checked ~ #nav-bar {
		transform: scaleY(1);
		opacity: 1;
	}

	.feature-box {
		min-width: 200px;
	}
}