/* font import */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap");

:root {
	--main-color: #80dcfe;
	--header-color: #80dcfeee;
	--bg-color: #f2f3f4;
	--btn-color: #ffd301;
}

html {
	font-size: 62.5%;
	font-family: "Quicksand", sans-serif;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

nav {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: var(--header-color);
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

nav > ul {
	display: flex;
	justify-content: space-around;
	width: 45vw;
	margin-right: 10px;
}

.nav-link {
	font-size: 1.6rem;
	padding: 2.5rem 6vw;
}

.nav-link:hover {
	background-color: #00b9fcee;
    transition: 1s ease-in;
}

#home {
	display: flex;
	flex: 50%;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
	padding-top: 8rem;
	background-image: url(Assets/Web-bg.svg);
	background-size: cover;
	background-position: center;
}

#home-text {
	font-size: 3.2rem;
	text-align: center;
	margin-left: 1rem;
	max-width: 100%;
}

#email {
	max-width: 30rem;
	width: 100%;
	font-size: 2rem;
}

.btn {
	padding: 1rem 2rem;
	background-color: var(--btn-color);
	border: 0.3rem solid #ffec8bee;
	border-radius: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-family: "Quicksand", sans-serif;
}

.btn:hover {
	background-color: #ffaf01;
	border: 0.3rem solid #ffaf01ee;
	transition: 0.5s linear;
    transform: scale(1.1);
}

#shoes-img {
	object-fit: contain;
	transform: scale(0.8);
}
